
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Beneficiary Account</h2>
<div class="row">
    <div class="col-lg-12">
        <div id="main_portlet" class="kt-portlet">
            <div class="kt-portlet__body">
                <form method="post" id="Banner_form" class="">
                    <input type="hidden" name="Id" id="Id" value="" />
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="kt-form__group row">
                        <div class="form-group col-lg-4 kt-form__group-sub">

                            <div class="btn-group btn-group-toggle pull-left" data-toggle="buttons">
                                <label class="btn btn-secondary active">
                                    <input type="radio" name="Status" value="1" id="ActiveStatus" autocomplete="off" checked> Active
                                </label>
                                <label class="btn btn-secondary ">
                                    <input type="radio" name="Status" value="0" id="InActiveStatus" autocomplete="off"> In Active
                                </label>

                            </div>


                        </div>

                    </div>
                    <div class="kt-form__group row">
                        <div class="form-group col-lg-6 kt-form__group-sub">

                            <label for="Title" class="form-control-label">Account Title</label>
                            <input type="text" class="form-control" required name="AccountTitle" id="AccountTitle">

                        </div>

                        <div class="form-group col-lg-6 kt-form__group-sub">

                            <label for="Title" class="form-control-label">Account No</label>
                            <input type="text" class="form-control" required name="AccountNo" id="AccountNo">

                        </div>
                       
                        
                    </div>
                    <div class="kt-form__group row">
                        <div class="form-group col-lg-4 kt-form__group-sub">

                            <label for="Title" class="form-control-label">Bank</label>
                            <input type="text" class="form-control" required name="Bank" id="Bank">

                        </div>

                        <div class="form-group col-lg-4 kt-form__group-sub">

                            <label for="Title" class="form-control-label">Branch</label>
                            <input type="text" class="form-control" required name="Branch" id="Branch">

                        </div>
                        <div class="form-group col-lg-4 kt-form__group-sub">

                            <label for="Title" class="form-control-label">BranchCode</label>
                            <input type="text" class="form-control" required name="BranchCode" id="BranchCode">

                        </div>

                    </div>
                    <div class="kt-form__group row">
                        <div class="form-group col-lg-8 kt-form__group-sub">

                            <label for="Title" class="form-control-label">Address</label>
                            <input type="text" class="form-control" required name="Address" id="Address">

                        </div>

                        <div class="form-group col-lg-4 kt-form__group-sub">

                            <label for="Title" class="form-control-label">SwiftCode</label>
                            <input type="text" class="form-control"  name="SwiftCode" id="SwiftCode">

                        </div>


                    </div>

                    <div class="kt-form__group row">
                        <div class="form-group col-lg-4 kt-form__group-sub">

                            <label for="Title" class="form-control-label">Phone</label>
                            <input type="text" class="form-control"  name="Phone" id="Phone">

                        </div>

                        <div class="form-group col-lg-4 kt-form__group-sub">

                            <label for="Title" class="form-control-label">UAN</label>
                            <input type="text" class="form-control"  name="UAN" id="UAN">

                        </div>
                        <div class="form-group col-lg-4 kt-form__group-sub">

                            <label for="Title" class="form-control-label">Fax</label>
                            <input type="text" class="form-control"  name="Fax" id="Fax">

                        </div>

                    </div>

                    <div class="kt-form__group row">
                        <div class="form-group col-lg-4 kt-form__group-sub">

                            <label for="Title" class="form-control-label">Email</label>
                            <input type="text" class="form-control" required name="Email" id="Email">

                        </div>
                    </div>




                </form>
                <div class="mb-1 mr-2 pull-right">
                    <button type="button" id="btn_Submit" class="btn btn-brand m-btn m-btn--gradient-from-primary m-btn--gradient-to-info  m-btn--icon  btn-sm pull-right">
                        <span class="ButtonContent">
                            @*<i class="fa fa-save"></i>*@
                            <span class="kt-hidden-mobile ButtonText">Save/Update</span>
                        </span>


                    </button>

                </div>
            </div>
        </div>
        <div id="main_portlet" class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="col-md-12 kt-form__group-sub">
                    <table id="Banner_list" class=" table table-bordered table table-striped table-bordered table-hover table-checkable display nowrap">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    //106 for save   107 error    108 update delete 109 1018
    $(document).ready(function () {




        $('#Banner_form').validate({
            ignore: ':hidden',
        });


        GetData();

        function GetData() {
            var table = $('#Banner_list').DataTable({
                'scrollX': true,
                "ajax":
                {
                    "url": '/BeneficiaryAccount/GetBeneficiaryAccounts',
                    "data": function (d) {
                    },
                    "type": "GET"
                },
                "columns": [
                    {
                        title: 'S#',
                        "data": "Id",
                        render: function () {
                            return 999;
                        }
                    },
                    {
                        title: "AccountTitle",
                        "data": "AccountTitle",
                       
                    },
                    {
                        title: "AccountNo",
                        "data": "AccountNo",
                        
                    },
                    {
                        title: "Bank",
                        "data": "Bank",
                    },
                    {
                        title: "Email",
                        "data": "Email",

                    },

                   

                    {
                        title: "Status",
                        "data": "Status",
                        "render": function (data, type, row, meta) {

                            if (data) {
                                return '<span class="kt-badge kt-badge--success  kt-badge--inline kt-badge--pill">Active</span>';

                            }
                            else
                            {
                                return '<span class="kt-badge kt-badge--danger  kt-badge--inline kt-badge--pill">In Active</span>';
                            }

                        }
                    },


                    {
                        title: "Action(s)",
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return AppCodes.Dynamic.StandardButtons.Edit('edit') + AppCodes.Dynamic.StandardButtons.Remove('Delete');
                        }
                    }
                ],
                drawCallback: async function () {
                    $('.Delete').off('click');
                    $('.Delete').on('click', function () {
                        let data = table.rows($(this).closest('tr')).data().toArray()[0];
                        var _FormData = new FormData();
                        _FormData.append('Id', data.Id);

                        $.ajax({
                            type: 'POST',
                            url: '/BeneficiaryAccount/Delete',
                            data: _FormData,
                            processData: false,
                            contentType: false,
                            success: function (response) {
                                if (response.Code == 1) {

                                    $('#Banner_list').DataTable().destroy();
                                    GetData();
                                    Utilities.HTML.Toastr.Show(109);
                                   

                                }
                                else {
                                    Utilities.HTML.Toastr.Show(107);
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                Utilities.HTML.Toastr.Show(107);
                                $('#Id').val(0);
                            }

                        });


                    });
                    $('.edit').off('click');
                    $('.edit').on('click', function () {

                        document.getElementById('Banner_form').reset();
                        $('#Banner_form .custom-file-label').text('Choose file');
                        $('#Banner_form .custom-file-label').removeAttr('title');

                        let data = table.rows($(this).closest('tr')).data().toArray()[0];
                        $('#Id').val(data.Id);
                       $('#AccountTitle').val(data.AccountTitle);
                       $('#AccountNo').val(data.AccountNo);
                       $('#Bank').val(data.Bank);
                       $('#Branch').val(data.Branch);
                       $('#BranchCode').val(data.BranchCode);
                       $('#Address').val(data.Address);
                       $('#SwiftCode').val(data.SwiftCode);
                       $('#Phone').val(data.Phone);
                       $('#UAN').val(data.UAN);
                       $('#Fax').val(data.Fax);
                       $('#Email').val(data.Email);
                                                 
                                               
                        $(data.Status == 1 ? '#ActiveStatus' : '#InActiveStatus').closest('.btn').button('toggle');




                    });
                }
            });
            table.on('draw.dt', function () {
                let info = table.page.info();
                table.column(0, { search: 'applied', order: 'applied', page: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

        }

        $('#btn_Submit').on('click', function () {
            //if($('#comp_agreetocondition').prop('checked')){}else{}
            debugger
            if ($('#Banner_form').valid()) {
                debugger
                var _FormData = new FormData(document.getElementById('Banner_form'));
                _FormData.append('Id', $('#Id').val());
                _FormData.set('Status', $('input[name="Status"]:checked').val() == 1 ? true : false);

                $('#btn_Submit').html(spanner);
                $.ajax({
                    type: 'POST',
                    url: '/BeneficiaryAccount/Submit',
                    data: _FormData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.Code == 1) {

                            $('#Banner_list').DataTable().destroy();
                            GetData();
                            document.getElementById("Banner_form").reset();
                            $('.custom-file-label').text('Choose file');
                            $('#Id').val(0);
                            Utilities.HTML.Toastr.Show(106);
                        }
                        else {

                            Utilities.HTML.Toastr.Show(107);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        Utilities.HTML.Toastr.Show(107);
                    },
                    complete: function (response) {
                        $('#btn_Submit').text('Save/Update');
                        $('#Id').val(0);
                    }
                });

            }
        });

    });
</script>



